/* Html fake border color */
/* Defines the general look of the font and provides a little margin. */
body {
    color: black;
    background-color: white;
    margin: 1px;
    font-size: {{'+0'|relativesize('em')}};
    padding: 0.2em;
}
/* Headers */
h1 { font-size: {{'+.375'|relativesize('em')}}; }
h2 { font-size: {{'+.3'|relativesize('em')}}; }
h3 { font-size: {{'+.225'|relativesize('em')}}; }
h4 { font-size: {{'+.15'|relativesize('em')}}; }
h5 { font-size: {{'+.075'|relativesize('em')}}; }
h6 { font-size: {{'+0'|relativesize('em')}}; }
h1, h2, h3, h4, h5, h6 { margin-top: 0.2em; margin-bottom: 0.2em; }
/* Blockquote support. */
blockquote { display: block; font-style: italic; }
/* Horizontal rule support. */
hr { display: block; padding: 1px; margin: 1em 1em; }
/* Description list support */
dl { display: block; }
dt { display: block; font-style: italic; font-weight: bold; margin-bottom: 0.5em; }
dd { display: block; margin-left: 1.5em; margin-bottom: 0.5em; }
/* Preformatted block */
pre { display: block; }
/* Blocks */
blockquote, ol, ul, dl, p, div {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}
ul, ol { padding-left: 2.0em; }
/* Special classes */
.highlight { padding: 0.5em; }
.admonition { padding: 0.5em; }
